.calculator {
  width: 250px;
  margin: 10px auto;

  padding: 10px;
  border-radius: 5px;
}

.calculator input[type="text"] {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 5px;
}

.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.calculator button {
  width: 48px;
  height: 48px;
  margin: 2px;
  font-size: 18px;
}
.h1 {
  text-align: center;
  font-family: sans-serif;
}
.result {
  text-align: center;
  margin-bottom: 15px;
  font-family: sans-serif;
}
